<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= content_tag(:div, nil, data: {
  controller: "life",
}) do %>
    <%= content_tag(:canvas, nil, data: {
      life_target: "canvas"
    }) %>
  <br/>
  <%= button_tag "Start", data: { action: "click->life#start"} , id: "start_button" %>
  <%= button_tag "Clear", data: { action: "click->life#clear"} %>
  <%= button_tag "Random", data: { action: "click->life#random"} %>
<% end %>
